.form-container {
    max-width: 1050px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: calc(170vh - 10px); /* Adjust height to fit within the view */
  }
  
  .form-container h2 {
    color: #0b1528;
    font-size: 17px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    padding: 0 0 0 30px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #0b1528;
  }
  
  .form-group input {
    width: 95.50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
  }
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: #888; /* Change to your desired placeholder color */
  }
  
  .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    padding-right: 30px;
    background-position: right center;
    background-repeat: no-repeat;
  }
  
  .form-group select {
    background-image: none;
  }
  
  .horizontal-group {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group-inner {
    width: 49%;
  }
  
  .radio-group {
    display: flex;
    gap: 20px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    background: #0b1528;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 25px;
  }
  
  button:hover {
    background: #1a2b48;
  }
  
  .dropzone {
    width: 95.5%;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  
  .dropzone p {
    margin: 0;
    color: #888;
  }
  
  .image-preview {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
  }

  /* input[type=number] {
   -moz-appearance :
  } */
  